<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DMBadgeView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>98D954141EB8298300A4CF9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98D9542D1EB8298400A4CF9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98D954381EB8298400A4CF9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
